h1 {
    color: green !important;
}

*{
    font-family: 'Courier New', monospace;
}

#zuitt-motto{
    letter-spacing: 5px;
}

.offering-item{
    text-transform: uppercase;
}

[required] {
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    width: 97%;
}

h3{
    letter-spacing: 25px;
}

h3 + img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
}      

ol>li{
    color: #E0AE44;
}


h2 ~ a {
    text-decoration: none;
}

label{
    color: blue;
}

body{
    background-color: skyblue;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: white;
}

a:hover{
    background-color: #b4d6de;
}

div{
    display: inline-block;
    float: right;
}

section{
    height: 100vh;
    text-align: center;
}


h2{
    font-size: 1.5rem;
}

ol{
    list-style-type: none;
}

h2 + form{
    text-align: center;
    background-color: white;
    position: relative;
    width: 25vw;
    height: 185px;
    border: 2px solid black;
    left: 37.5%;
}

button{
    background-color: #cf0053;
    color: white;
    border: 0;
    border-radius: 15px;
    font-size: 20px;
}