
*{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#external-style{
    color: yellow;
}


h1{
    font-size: 50px;
}

h2{
    text-transform: uppercase;
}

.list{
    background-color: #9dd788;
}

#first-li, #first-li ~ li{
    border: skyblue solid;
}

#second-li, #second-li ~li {
    letter-spacing: 0.6rem;
}
    
img{
    height: 6rem;
    border-radius: 50%;
}
